img {
	width: 125px;
}

h1 {
	color: red;
}
#block {
	background: blue; color: #fff; width:100px; 
}
.new span {color: red;
}
h2 {background: green; color: #fff;
}
h2.new {background: green; color: #fff;padding:50px;
}
h2 {background: green; color: #fff;
}
.list .block {
	border:solid black;border:solid black;margin-top:20px;
} 
li {
	border:solid black;
}
.block {margin-top:100px;}
